<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Tests" configfailurepolicy="continue">
    <test name="BrowserStackCucumberTestNg">
        <classes>
            <class name="demoblaze.runner.AddProductToCard"/>
            <class name="demoblaze.runner.RunnerLogInAndLogOut"/>
            <class name="demoblaze.runner.RunnerSignUpNewUser"/>
        </classes>
    </test>
</suite>
